# ==========================================
# SMS Gateway Hub - Environment Configuration
# ==========================================

# Database Configuration
DATABASE_URL=sqlite:///database.db

# SMS Transceiver Gateway Settings
SMS_API_URL=http://<URL_here>:<port>
SMS_API_LOGIN=<username_here>
SMS_API_PASS=<password_here>

# App Settings
POLL_INTERVAL=5